{{define "content"}}
<div class="container">

  {{template "filter-form.html" .}}

  <div class="posts-list">
    {{with .Posts}}
    {{range .}}
    <div class="post-item">
      <div class="post-content">
        <div class="post-title">
          <a href="{{.URL}}" class="post-link" target="_blank">{{.Title}}</a>
          <span class="post-domain">{{.Host}}</span>

          <a href="#" class="post-link">{{.UserName}}</a>
        </div>
        <div class="post-meta">
          <a href="/vote?post_id={{.ID}}" class="author"> <span class="points">{{.GetVoteCountHuman}}</span></a>|
          <span class="time">{{.CreatedAtHuman}}</span>
          | <a href="/comments?post_id={{.ID}}" class="comments-link">{{.GetCommentCountHuman}}</a>
        </div>
      </div>
    </div>
    {{end}}

    {{end}}
  </div>


  {{if gt .Metadata.TotalRecords .Metadata.PageSize}}
  <div class="pagination">
    {{if gt .Metadata.PrevPage 0}}
    <a href="{{.PrevLink}}" class="more-link">Prev</a>
    {{end}}

    {{if gt .Metadata.NextPage 0}}
    <a href="{{.NextLink}}" class="more-link">Next</a>
    {{end}}
  </div>
  {{end}}

</div>
{{end}}
